#completed {
  text-decoration: line-through;
  opacity: 0.5;
}
li {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 20px;
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0px;
}
