body {
  background-color: rgb(49, 43, 43);
  color: #e2e8f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #334155;
  border: none;
}
.chat-container {
  width: 100%;
  max-width: 900px;
  height: 80vh;
  background: rgb(44, 38, 38);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border: 0px solid #334155;
}

header {
  padding: 20px;
  border-bottom: 0px solid #334155;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #38bdf8;
  font-size: 24px;
}
header span {
  font-size: 20px;
  color: #94a3b8;
  padding: 1px;
  border-radius: 4px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message-user {
  background: #334155;
  align-self: flex-end;
  padding: 12px 16px;
  border-radius: 8px;
  max-width: 85%;
  line-height: 1.5;
}
.message-ai {
  background: #0c4a6e;
  align-self: flex-start;
  border-left: 4px solid #38bdf8;
  padding: 12px 16px;
  border-radius: 8px;
  max-width: 85%;
  line-height: 1.5;
}

#chat-form {
  padding: 20px;
  display: flex;
  gap: 10px;
  border-top: 1px solid #334155;
}

textarea {
  flex: 1;
  background: #0f172a;
  border: 1px solid #475569;
  color: white;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  resize: none;
}

button {
  background: #0284c7;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
